@import '~bootstrap/scss/bootstrap';

:root {
  --primary-color: #357b70;
  --secondary-color: #e0b354;
  --dark-grey: #2b2b2b;
  --black: black;
  --background-section: //#f4f1de;
  --background-header:#f2cc8f; //#f4f1de;
  --white: white;
  --light-grey: lightgray;
  --visited-link: #9c1acf;
  --selected-link: #489c79;
  --h-font-weight: 700;
  // overflow-x: hidden; /* Prevent horizontal scrolling */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1.6;
  background-color: var(--background-section);
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden; // Prevent horizontal scrolling
  overflow-y: auto;  // Allow vertical scrolling
}

input,
texture,
select,
button {
  font-family: system-ui;
}

/* style for header */
.page-header {
  display: flex;
  width: 100%;
  height: 75px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-header);
  position: sticky;
  top: 0; /* Sticks the navbar to the top of the viewport */
  z-index: 1000;
}

.page-header img {
  flex: 0 1;
  height: 50px;
  width: 100px;
  align-self: flex-start;
  margin: 10px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  padding: 0;
  list-style: none;
}
.navigation-list__item {
  margin: 10px;
  text-decoration: none;
  color: var(--black);
  position: relative;
  white-space: nowrap;
}

.section {
  min-height: calc(100vh - 75px);
  // border: 1px solid black;
}

.profile__portrait {
  width: 100%;
  // margin-right: 40px;
  border-radius: 50%;
}
.intro {
  font-size: 1.4rem;
}
.about {
  background-color: var(--background-header);
  padding:0 12px;
  border-radius: 5%;
}

// .about p {
//   font-size: 1.4rem; /* Adjust paragraph size */
//   line-height: 1.6; /* Optional: Improve readability */
// }

/* grid fallback */
.grid {
  justify-items: center;
  padding: 20px;
}
.project {
  justify-items: center;
  background-color: var(--background-header);
  margin: 0;
  padding: 10px;
  border-radius: 5%;
}
.project-img {
  max-width: 100%;
  height: 200px;
  // justify-self: center;
}

//may have to set the positions as variables and set the variables depending on the size of screen
//forces animations to clip so they dont render and create scrollbar
.contact{
 background-color: var(--background-header);
}


/*
Styles for h1-h6
*/
// h1 {
//   font-size: 2.5rem;
// }

// h2 {
//   font-size: 2rem;
//   font-weight: var(--h1-font-weight);
// }

// h3 {
//   font-size: 1.7rem;
//   font-weight: var(--h1-font-weight);
// }

a:hover,
a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
}

a:active {
  /* selected link */
  color: var(--selected-link);
}

/* Transformation to make the .navigation-list__item borders move outwards when hovered */
.navigation-list__item::before,
.navigation-list__item::after {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 2px;
  background: var(--black);
  content: '';
  opacity: 0;
  transition: all 0.3s;
}

.navigation-list__item::before {
  top: 0px;
  transform: translateY(10px);
}

.navigation-list__item::after {
  bottom: -2px;
  transform: translateY(-10px);
}

.navigation-list__item:hover::before,
.navigation-list__item:hover::after {
  opacity: 1;
  transform: translateY(0px);
}
/* media queries for contact submit button for smallscreens
* set dotenv for emailjs
*dont forget tab pictures
*/