@import '~bootstrap/scss/bootstrap';

:root {
  --primary-color: #357b70;
  --secondary-color: #e0b354;
  --dark-grey: #2b2b2b;
  --black: black;
  --background-color: #e9ecef;
  // --background-section:#e5e5e5;
  --background-header: #212529; //#f4f1de;
  --white: white;
  --project-color: #343a40;
  --visited-link: #9c1acf;
  --selected-link: #489c79;
  --h-font-weight: 700;
  --button-color: #343a40;
  --form-color: #e9ecef;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1.6;
  background-color: var(--background-color);
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden; // Prevent horizontal scrolling
  overflow-y: auto; // Allow vertical scrolling
}

input,
texture,
select,
button {
  font-family: system-ui;
}

.btn {
  background-color: var(--button-color);
  border-color: var(--button-color);
  transition: background-color 0.1s ease, border-color 0.3s ease;
}
.btn:hover {
  background-color: #212529;
  border-color: #ffffff;
  transition-delay: 0.1s;
}
/* style for header */
.page-header {
  display: flex;
  width: 100%;
  height: 75px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-header);
  position: sticky;
  top: 0; /* Sticks the navbar to the top of the viewport */
  z-index: 1000;
}
.page-header a {
  color: #ffffff;
}
h1,
h2 {
  color: #343a40;
}

.navbar {
  background-color: var(--background-header) !important;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--white) !important;
}

.nav-link {
  color: var(--white) !important;
  position: relative; /* Ensure pseudo-elements are positioned relative to the link */
  cursor: pointer; /* Change cursor to pointer on hover */

  &:hover {
    color: var(--secondary-color) !important; /* Change text color on hover */
  }

  &::before,
  &::after {
    content: ''; /* Add empty content for pseudo-elements */
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: white;
    opacity: 0;
    transition: all 0.3s ease; /* Smooth transition for animation */
  }

  &::before {
    top: 0; /* Position at the top of the link */
    transform: translateY(10px); /* Start slightly below the link */
  }

  &::after {
    bottom: 0; /* Position at the bottom of the link */
    transform: translateY(-10px); /* Start slightly above the link */
  }

  &:hover::before,
  &:hover::after {
    opacity: 1; /* Make the pseudo-elements visible */
    transform: translateY(0); /* Move into position */
  }
}

.navbar img {
  flex: 0 1;
  height: 40px;
  width: auto;
  align-self: flex-start;
}

.section {
  min-height: calc(100vh - 75px);
}
// .section:last-child {
//   border-bottom: none;
// }

.profile__portrait {
  width: 100%;
  border-radius: 50%;
}
.intro {
  font-size: 1.4rem;
}

.grid {
  padding: 20px;
}
.project {
  justify-items: center;
  background-color: var(--project-color);
  height: 100%;
  border-radius: 5%;
  color: white;
}

.project h2 {
  color: white;
}
.project-img {
  max-width: 80%;
  height: 200px;
}

//may have to set the positions as variables and set the variables depending on the size of screen
//forces animations to clip so they dont render and create scrollbar
.contact {
  background-color: var(--project-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5%;
  color: white;
}

.contact input,
.contact textarea {
  background-color: var(--form-color);
}

a:hover,
a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
}

a:active {
  /* selected link */
  color: var(--selected-link);
}

/* media queries for contact submit button for smallscreens
* set dotenv for emailjs
*dont forget tab pictures
*/
